# Minimal curated requirements for this Django project (dev)

Django==3.2.21
python-decouple==3.8
channels==3.0.4
daphne==3.0.2
celery==5.2.2
redis==4.5.5
python-nmap==0.7.1
pymetasploit3==1.0.6
PyPDF2==3.0.1
pdfkit==1.0.0
requests==2.25.1
lxml==4.9.2
python-dateutil==2.8.1

# Add openvas_lib only if you intend to use OpenVAS integration
# openvas_lib==1.1.4

# If you need extras for building some packages, install these system deps:
# sudo apt update && sudo apt install -y nmap build-essential python3-dev libssl-dev libffi-dev libxml2-dev libxslt1-dev pkg-config