<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vulnerability Scanning</title>

    <!-- Bootstrap CSS (CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Site CSS -->
    <link href="{% static 'css/stl2.css' %}" rel="stylesheet">
    <link href="{% static 'css/colors/green-dark.css' %}" rel="stylesheet">

    <!-- Optional: your local JS libs (keep reconnecting-websocket local) -->
    <script src="{% static 'js/reconnecting-websocket.min.js' %}" type="text/javascript"></script>

    <style type="text/css">
    #bck{
      background-image: url("{% static 'a.png' %}");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
    }
    #def{
      background-image: url("{% static 'b.jpeg' %}");
    }
    </style>
</head>

<body class="fix-header fix-sidebar card-no-border">

    <div id="main-wrapper">
        <header class="topbar">
            <nav>
                <div class="top-navbar navbar navbar-header" style="background: #db9a1aeb;">
                    <a class="navbar-brand" href="{% url 'parsing:index' %}" style="margin-left:5px;">
                        <b><img src="{% static 'logo.png' %}" width="50px"></b>
                        <span><img src="{% static 'logo_name.png' %}" class="light-logo" alt="homepage"></span>
                    </a>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <div class="user-profile" style="background: url(https://www.wrappixel.com/demos/admin-templates/material-pro/assets/images/background/user-info.jpg) no-repeat;">
                    <div class="profile-img">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fa/COMSATS_Logo.svg/1200px-COMSATS_Logo.svg.png" alt="user">
                    </div>
                    <div class="profile-text">
                        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <span style="color: #f7b12c;">Comsats Lahore</span>
                        </a>
                        <div class="dropdown-menu animated flipInY">
                            <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                            <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                            <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a href="l" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>

                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">Pentesting Phases</li>
                        <li><a class="has-arrow waves-effect waves-light" href="/"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li><a class="has-arrow waves-effect waves-light" href="{% url 'parsing:nm_scan_index' %}"><i class="mdi mdi-account-search active"></i><span class="hide-menu">Scanning</span></a></li>
                        <li><a class="has-arrow waves-effect waves-light" style="color: #f7b12c;" href="{% url 'parsing:openvas_scan_index' %}"><i style="color: #f7b12c;" class="mdi mdi-barcode-scan"></i><span class="hide-menu">Vulnerability Scanning</span></a></li>
                        <li><a class="has-arrow waves-effect waves-dark" href="#"><i class="mdi mdi-biohazard"></i><span class="hide-menu">Exploitation</span></a></li>
                        <li><a class="has-arrow waves-effect waves-dark" href="#"><i class="mdi mdi-laptop-windows"></i><span class="hide-menu">Sessions</span></a></li>
                        <li><a class="has-arrow waves-effect waves-dark" href="#"><i class="mdi mdi-console"></i><span class="hide-menu">Shells</span></a></li>
                        <li><a class="has-arrow waves-effect waves-dark" href="#"><i class="mdi mdi-file-document"></i><span class="hide-menu">Reports</span></a></li>
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">EXTRA COMPONENTS</li>
                        <li><a class="has-arrow waves-effect waves-dark" href="#"><i class="mdi mdi-web"></i> Web Scanning</a></li>
                        <li><a class="has-arrow waves-effect waves-dark" href="#"><i class="mdi mdi-wifi"></i><span class="hide-menu">Wlan0 Testing</span></a></li>
                    </ul>
                </nav>
            </div>

            <div class="sidebar-footer">
                <a href="#" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                <a href="#" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <a href="#" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
            </div>
        </aside>

        <div class="page-wrapper" id="def">
            <div class="container-fluid" id="bck">
                <div class="row page-titles">
                    <div class="col-md-5 col-12 align-self-center">
                        <h3 class="text-themecolor">Vulnerability Scanning</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Home</li>
                            <li class="breadcrumb-item active">Scanning</li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Vulnerability Scanning</a></li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                        <div class="d-flex mt-2 justify-content-end">
                            <div class="d-flex mr-3 ml-2"><div class="chart-text mr-2"></div><div class="spark-chart"><div id="monthchart"></div></div></div>
                            <div class="d-flex mr-3 ml-2"><div class="chart-text mr-2"></div><div class="spark-chart"><div id="lastmonthchart"></div></div></div>
                        </div>
                    </div>
                </div>

                <!-- Page Content -->
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="card">
                            <div class="card-body" style="background: rgba(0, 0, 0, 0.6);">
                                <div class="d-flex">
                                    <div class="mr-3 align-self-center"><h1 class="text-white"><i class="ti-pie-chart"></i></h1></div>
                                    <div><h3 class="card-title">Scan Vulnerability in Remote Host</h3><h6 class="card-subtitle">Phase 2</h6></div>
                                </div>

                                <div class="row">
                                    <div class="col-10 align-self-center">
                                        <form class="form-inline openvas-ajax-form" method="POST" data-url="/openvas_ajx/">
                                            {% csrf_token %}
                                            <div class="form-group mx-sm-3 mb-2">
                                                <input type="text" class="form-control" minlength="7" name="host_ip" id="host_ip" maxlength="15" size="15"
                                                       pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"
                                                       placeholder="x.x.x.x">
                                            </div>
                                            <button type="submit" class="btn btn-info mb-2">Start Scanning</button>
                                        </form>
                                    </div>
                                    <div class="col-2 pb-3 pt-2 align-self-center"><div class="usage chartist-chart" style="height:65px"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="card card-inverse card-success">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="mr-3 align-self-center"><h1 class="text-white"><i class="icon-cloud-download"></i></h1></div>
                                    <div><h3 class="card-title">Ajax Request Status</h3><h4 class="card-subtitle">Notifications</h4></div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="font-weight-light text-white text-nowrap text-truncate">
                                            <ul id="notification_opv" style="color: black;"></ul>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Running / Pending Scan Status -->
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="card">
                            <div class="card-body" style="background-image: url('{% static 'b.jpeg' %}');">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap">
                                            <div>
                                                <h3 class="card-title">Running / Pending Scan Status</h3>
                                                <h6 class="card-subtitle">They are synced — you may browse other pages</h6>
                                            </div>
                                            <div class="ml-auto">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item px-2"><h6 class="text-success"><i class="fa fa-circle font-10 mr-2 "></i>Running</h6></li>
                                                    <li class="list-inline-item px-2"><h6 class="text-info"><i class="fa fa-circle font-10 mr-2"></i>Retired</h6></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="card-body" style="height: 100%;">
                                            <table id="openvas_task_status" class="table">
                                                <thead>
                                                    <tr><th>Scan ID</th><th>IP Address</th><th>Scanning Status</th></tr>
                                                </thead>
                                                <tbody>
                                                    {% for ip in job %}
                                                        {% if ip.vul_status != "no" and ip.status == "started" %}
                                                        <tr id="row-{{ ip.id }}">
                                                            <td>{{ ip.id }}</td>
                                                            <td>{{ ip.name }}</td>
                                                            <td id="status-{{ ip.id }}">
                                                                <span class="badge badge-primary">{{ ip.status }}</span>
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Terminal -->
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Terminal</h3>
                                <h6 class="card-subtitle">Terminal logs all the actions</h6>
                                <div id="visitor" style="height:290px; width:100%;">
                                    <textarea id="openvas_resul_Terminal" style="background-color: black; color: green; height:100%;width:100%; padding: 25px;">Xerror@W11 #:~> __</textarea>
                                </div>
                            </div>
                            <div class="card-body text-center border-top"></div>
                        </div>
                    </div>
                </div>

                <!-- Completed Vulnerability Scans -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card-body card">
                            <div>
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <h3 class="card-title">Completed Vulnerability Scans</h3>
                                        <h6 class="card-subtitle">Complete vulnerability reports — click on an IP</h6>
                                    </div>
                                    <div class="ml-auto align-self-center">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item px-2"><h6 class="text-success"><i class="fa fa-circle font-10 mr-2 "></i>Reports Generated</h6></li>
                                            <li class="list-inline-item px-2"><h6 class="text-info"><i class="fa fa-circle font-10 mr-2"></i> Error in reports</h6></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <table id="ips" class="table">
                                        <thead>
                                            <tr>
                                                <th>Scan ID</th>
                                                <th>Ip Address</th>
                                                <th>Nmap Scan Report</th>
                                                <th>OpenVas Scan Status</th>
                                                <th>Exploitation Status</th>
                                                <th>Vulnerability Scan Status</th>
                                                <th>status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for file in job %}
                                                <tr>
                                                    <td>{{ file.id }}</td>
                                                    <td>{{ file.name }}</td>
                                                    <td><a href="{% url 'parsing:nm_ip_detailed' file.id %}">{{ file.nm_status }}</a></td>
                                                    <td>{{ file.vul_status }}</td>
                                                    <td>{{ file.exploit_status }}</td>
                                                    <td id="status-{{ file.id }}"><span class="badge badge-info text-light">{{ file.status }}</span></td>
                                                    <td><span class="badge badge-warning" style="color: orange; background: black; border: 1px solid orange; padding: 8px;"><a href="{% url 'parsing:openvas_ip_detailed' file.id %}">Get it</a></span></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <div class="row text-center">
                                        <div class="col-lg-4 col-md-4 mt-3"><h1 class="mb-0 font-weight-light">81</h1><small>Total Scans</small></div>
                                        <div class="col-lg-4 col-md-4 mt-3"><h1 class="mb-0 font-weight-light">67</h1><small>Reports Generated</small></div>
                                        <div class="col-lg-4 col-md-4 mt-3"><h1 class="mb-0 font-weight-light">14</h1><small>Pending</small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- container-fluid -->

            <footer class="footer">© 2020 Xerror Pentest tool by Xerror Tech Sol's</footer>

        </div> <!-- page-wrapper -->
    </div> <!-- main-wrapper -->

    <!-- JS libraries: jQuery, Popper, Bootstrap (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {

    // CSRF helper (Django)
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    // AJAX form submission
    var $myForm = $('.openvas-ajax-form');
    $myForm.on('submit', function(event){
        event.preventDefault();
        event.stopPropagation();

        var $form = $(this);
        var formData = $form.serialize();
        var thisURL = $form.attr('data-url') || window.location.href;

        $.ajax({
            method: 'POST',
            url: thisURL,
            data: formData,
            headers: {'X-CSRFToken': csrftoken},
            success: function(data) {
                // Expecting JSON { msg: "...", ... }
                if (data && data.msg) {
                    alert(data.msg);
                    var node = document.createElement("li");
                    node.textContent = data.msg;
                    document.getElementById("notification_opv").appendChild(node);
                } else {
                    alert('Request succeeded (no message).');
                }
                // reset form
                $form[0].reset();
            },
            error: function(xhr, status, error) {
                var msg = 'AJAX error';
                try {
                    var resp = JSON.parse(xhr.responseText || '{}');
                    if (resp && resp.msg) msg = resp.msg;
                    else if (xhr.responseText) msg = xhr.responseText;
                } catch (e) {
                    msg = xhr.responseText || (status + ': ' + error);
                }
                var node = document.createElement("li");
                node.textContent = msg;
                document.getElementById("notification_opv").appendChild(node);
                console.error('AJAX error', status, error, xhr);
            }
        });
    });

    <script src="{% static 'js/ws_pool.js' %}"></script>
    <script src="{% static 'js/ui_helpers.js' %}"></script>
    <script>
    document.addEventListener('xerror:wsmessage', function(ev){
        var data = ev.detail;
        try {
            if (data.action === "openvas_taken_ip") {
                var node = document.createElement("li");
                node.textContent = "System Received IP";
                document.getElementById("notification_opv").appendChild(node);

                var tbody = $("#openvas_task_status tbody");
                if (tbody.length === 0) tbody = $("#openvas_task_status");
                var rowId = 'row-' + data.job_id;
                if ($('#' + rowId).length === 0) {
                    var $tr = $('<tr></tr>').attr('id', rowId);
                    $tr.append($('<td></td>').text(data.job_id));
                    $tr.append($('<td></td>').text(data.job_name));
                    var $statusTd = $('<td></td>').attr('id', 'status-' + data.job_id);
                    $statusTd.html('<span class="badge badge-primary">' + (data.job_status || '%') + '</span>');
                    $tr.append($statusTd);
                    tbody.append($tr);
                }
            }
            else if (data.action === "openvas_running_status") {
                if (data.job_openvas_log) {
                    document.getElementById("openvas_resul_Terminal").value += data.job_openvas_log;
                    $('#openvas_resul_Terminal').scrollTop($('#openvas_resul_Terminal')[0].scrollHeight);
                }
                if (data.job_id) {
                    $('#status-' + data.job_id).html('<span class="badge badge-info">' + data.job_openvas_current_status + '</span>');
                }
            }
            else if (data.action === "completed_ip") {
                if (data.job_id) {
                    $('#status-' + data.job_id).html('<span class="badge badge-success">' + (data.job_status || 'completed') + '</span>');
                }
            }
            else if (data.action === "openvas_host_up_check") {
                alert(data.check_status);
                var node = document.createElement("li");
                node.textContent = data.check_status;
                document.getElementById("notification_opv").appendChild(node);
            }
            else if (data.action === "processing") {
                if (data.file_id && data.progress !== undefined) {
                    $('#process-' + data.file_id).text(data.progress + ' %');
                }
            }
            else if (data.action === "completed") {
                if (data.file_id && data.file_amount !== undefined) {
                    $('#result-' + data.file_id).text(data.file_amount);
                }
            }
        } catch (e) { console.error('ws handler error', e); }
    });
    </script>


</body>
</html>
                $('#result-' + data.file_id).text(data.file_amount);
